html {font-family: Helvetica;}
h1 {text-align: center; line-height: normal; background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);font-size: 100px; font-weight: bold; color: khaki;}
.brushes {margin:0px; padding: 0; overflow:hidden; background-color: mediumspringgreen;}
h2 {font-size: 32px; color:white; font-weight: bold}
.price {color:blue; font-weight: bold;}
.frames {margin:0px; padding: 0; overflow:hidden; background-color: lightcoral;}
.paint {margin:0px; padding: 0; overflow:hidden; background-color: skyblue;}
